@model ChargeBackproject.Models.UserDetails
@{
    ViewBag.Title = "Welcome";
}
<div class="jumbotron">
    <h2>Welcome</h2>
    <h3 style="font-family: 'Times New Roman';color: black;">Welcome @Html.Encode(User.Identity.Name)</h3>
</div>
