@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size:50px; font-family:'Times New Roman', Times, serif; font-style: normal; text-align: center;">Welcome to Bank</h1>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/images/admin.png" width="200" height="150" />
            <br>
            <input type="radio" id="admin" name="option" value="Admin">Admin <br />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/customer.jpg" width="200" height="150" />
            <br>
            <input type="radio" id="customer" name="option" value="Customer">Customer <br />
        </div>
        <div class="col-sm-4">
            <img src="~/Content/images/employee.jpg" width="200" height="150" />
            <br>
            <input type="radio" id="employee" name="option" value="Employee">Employee
        </div>
    </div>
    <div class="row">
        <br />
        <br />
          <div style="text-align: center;">
                <input type="submit" class="btn btn-success" />
          </div>
    </div>
</div>    
    
    
  