
@{
    ViewBag.Title = "Login";
}

<h2 style="font-family: sans-serif;font-display: block;color: white;">Login</h2>

<div class="jumbotron">
    <form>
        <div class="container">
            <h1 style="font-size:35px; font-family:'Times New Roman', Times, serif; font-style: normal;">Sign In</h1>
            <p style="font-size: 14px;">Enter the username and password</p>

            <label for="username"><b>Enter username</b></label>
            <input type="text" placeholder="Enter username" name="firstname" id="firstname" required>
            <br>

            <label for="password"><b>Enter password</b></label>
            <input type="password" placeholder="Enter password" name="firstname" id="firstname" required>
            <br>

            <button type="submit" class="btn btn-success" id="submit">Log In</button>
        </div>

    </form>
    </div>

