

@{
    ViewBag.Title = "Approve";
}
<div class="jumbotron">
    <h2>ChargeBack Approved</h2>
    @Html.ActionLink("Back to List", "Index", new { }, new { @style = "color: black; margin-left: 10px;font-size: 20px;" })
</div>





