body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fea;
}

input[type=text], input[type=password] {
    background: white;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.row {
    margin-right: -143px;
    margin-left: 11px;
}

.btn {
    padding: 7px 26px;
}

.btn-success {
    margin-left: -148px;
}

.registerbutton {
    margin-left: 23px;
    display: flex;
    color: white;
    background-color: dodgerblue;
    padding: 5px 28px;
    font-size: 20px;
    border-radius: 30px;
}

.registerheading {
    margin-left: 22px;
}

.loginheading {
    margin-left: 25px;
}

.loginbutton {
    margin-left: 27px;
    display: flex;
    color: white;
    background-color: dodgerblue;
    padding: 5px 32px;
    font-size: 20px;
    border-radius: 30px;
}

.field-validation-error text-danger {
    color: red;
}

form-control input-validation-error {
    border: 1px solid #e80c4d;
}